<header>
  <img class="logo" src="{{ 'logo.png' | asset_img_url }}" />
  <ul class="nav-bar">
    <!-- Main menu -->
    {% for link in linklists.main-menu.links -%}
      {{ link.title | link_to: link.url }}
    {%- endfor %}

    <!-- Footer menu -->
    {% for link in linklists['footer'].links -%}
      {{ link.title | link_to: link.url }}
    {%- endfor %}
  </ul>

  <form action="{{ routes.search_url }}">
    <input type="text"
      placeholder="Search"
      name="q"
      value="{{ search.terms | escape }}"
    />
    <input type="hidden" name="type" value="product,page" />
    <input type="hidden" name="options[unavailable_products]" value="hide" />
    <input type="hidden" name="options[prefix]" value="last" />
    <input type="submit" value="Search" />
  </form>
</header>