<div class="product">
      <a href="{{ product.url }}">
        {{ product.title | link_to: product.url }}
        {{ product | image_url: width: 200 | image_tag }}
        {{ product.title }}
        {{ product.price | money }}
      </a>
    </div>