<div class="announcement-container font_size_announcement announcement-background-color" style="text-align: {{ section.settings.alignment }}; background-color: {{ section.settings.announcement-background-color }}; font-size: {{ section.settings.font_size_announcement }};">

  <h3 class="heading_text" style="color: {{ section.settings.heading_text }}; font-family: {{ section.settings.heading_font.family }}; font-size: {{ section.settings.font_size_announcement }}px;">
    {{ section.settings.announcment_title }}
  </h3>
  <p class="para-color" style="color: {{ section.settings.body_text }}; font-size: {{ section.settings.font_size_announcement }}px;">
    {{ section.settings.paragraph-a }}
  </p>

</div>


  {% style %}

  .announcement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  {% endstyle %}

  {% schema %}
    {
      "name": "Announcement bar",
      "settings": [
        {
          "type": "text",
          "id": "announcment_title",
          "label": "Heading",
          "default": "This bar is used for short important announcements!"
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Heading font",
          "default": "helvetica_n4"
        },
        {
          "type": "color",
          "id": "body_text",
          "label": "Paragraph text",
          "default": "#555759"
        },
        {
          "type": "color",
          "id": "heading_text",
          "label": "Heading text",
          "default": "#2d3032"
        },
        {
          "type": "color",
          "id": "announcement-background-color",
          "label": "Background color",
          "default": "#C8A2C8"
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "label": "Text alignment",
          "default": "center"
        }, 
        {
          "type": "richtext",
          "id": "paragraph-a",
          "label": "Paragraph"
        },
        {
          "type": "range",
          "id": "font_size_announcement",
          "min": 12,
          "max": 24,
          "step": 1,
          "unit": "px",
          "label": "Font size",
          "default": 16
        }
      ],
      "presets": [
        {
          "name": "Announcement bar"
        }
      ]
    }
  {% endschema %}