

{% style %}

.header { 

  width:100%;

}
.header--flex {
  display:flex;
  justify-content:space-around;
  align-items:center;
}
li {
  list-style-type: none;
}
  .header--logo img {

 max-width: {{ section.settings.logo_width }}px;
 height: auto; 
  }

  .header__flex__cart {

  }
  .header--flex__search {

  }

{% endstyle %}

<div class="header">
  <div class="header--flex">
    <a href="/" class="header--logo">
      {{ section.settings.logo | image_url: width: 200 | image_tag }}
    </a>
    

       <a href="/search"> <svg class="header--flex__search xmlns="http://www.w3.org/2000/svg"  width="32.402" height="32" viewBox="0 0 50 50">
<path d="M 21 3 C 11.622998 3 4 10.623005 4 20 C 4 29.376995 11.622998 37 21 37 C 24.712383 37 28.139151 35.791079 30.9375 33.765625 L 44.085938 46.914062 L 46.914062 44.085938 L 33.886719 31.058594 C 36.443536 28.083 38 24.223631 38 20 C 38 10.623005 30.377002 3 21 3 z M 21 5 C 29.296122 5 36 11.703883 36 20 C 36 28.296117 29.296122 35 21 35 C 12.703878 35 6 28.296117 6 20 C 6 11.703883 12.703878 5 21 5 z"></path></a></svg>
</svg>
<a> <svg xmlns="http://www.w3.org/2000/svg" width="32.402" height="32" viewBox="0 0 32.402 32" class="header--flex__cart"><path d="M6 30a2 2 1080 1 0 4 0 2 2 1080 1 0-4 0zm18 0a2 2 1080 1 0 4 0 2 2 1080 1 0-4 0zM-.058 5a1 1 0 0 0 1 1H3.02l1.242 5.312L6 20c0 .072.034.134.042.204l-1.018 4.58A.997.997 0 0 0 6 26h22.688a1 1 0 0 0 0-2H7.248l.458-2.06c.1.016.19.06.294.06h18.23c1.104 0 1.77-.218 2.302-1.5l3.248-9.964C32.344 8.75 31.106 8 30 8H6c-.156 0-.292.054-.438.088l-.776-3.316A1 1 0 0 0 3.812 4H.942a1 1 0 0 0-1 1zm6.098 5h23.81l-3.192 9.798c-.038.086-.07.148-.094.19-.066.006-.17.012-.334.012H8v-.198l-.038-.194L6.04 10z"></path></a></svg>
<ul class="menu">
  {% for link in section.settings.menu.links %}
    <li class="menu-link">
      <a href="{{ link.url }}">{{ link.title }}</a>

      {% if link.links.size > 0 %}
        <ul class="menu dropdown-child">
          {% for child_link in link.links %}
            <li class="menu-link">
              <a href="{{ child_link.url }}">{{ child_link.title }}</a>

              {% if child_link.links.size > 0 %}
                <ul class="menu dropdown-grandchild">
                  {% for grandchild_link in child_link.links %}
                    <li class="menu-link">
                      <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% for block in section.blocks %}
  {% if block.type == 'navigation' %}
    <div class="header--flex">
      <ul>
        {% for link in block.settings.menu_header.links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}
</div>
    <p style="color: {{ settings.color_schemes.text }};"></p>



    
          {% schema %}
            {
              "name": "Header",
              "tag": "header",
              "class": "header",
              "enabled_on": {
              "groups": ["header"]
             },
              "settings": [
                {
                  "type": "image_picker",
                  "id": "logo",
                  "label": "logo"
                }, {
                  "type": "range",
                  "id": "logo_width",
                  "label": "logo_width",
                  "default": 100,
                  "min": 20,
                  "max": 300,
                  "step": 5
                }
              ],
              "max_blocks": 1,
    "blocks": [
      {
        "name": "navigation row",
        "type": "navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "menu_header",
            "label": "Navigation menu"
          }
        ]
      }
    ],
                        "presets": [
                         {
                       "name": "Header with logo",
                       "category": "Image"
                        }
                                   ]
          }
          
          
          {% endschema %}
