

{% style %}
.hero_image_container-{{ section.id }} {
  display: flex;
  justify-content: center; 
  flex-direction:column;
  align-items: center; 
  max-width: 3000px;
  width: 100%;
  z-index: 1;
  text-align: {{ section.settings.hero_text_alignment }};
  background-color: {{ section.settings.hero_background_color}};
  flex-wrap: wrap;
  width: {{ section.settings.image_size }}%;
  height: auto;
  max-width:100%;
  }
  .hero-image {
    width: 100%;
  }
  .text-container-{{ section.id }} {
  z-index: 2;
  position: absolute;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 100vw;
  }
  .text-container-background-{{ section.id }} {
    z-index: 2;
  position: absolute;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 5%;
  padding-left: 5%;
  max-width: 100vw;
  opacity: 0.5;
  border: 1px;
  border-radius: 3%;
  }
  .hero-button-{{ section.id }}:hover {
  opacity: 1.0;
}

  .heading-hero-{{ section.id }},
  .para-hero-{{ section.id }} {
    z-index: 3;
    justify-content: center;
    align-items: center;

  }
  .heading-hero-{{ section.id}} {
    color:{{ section.settings.hero_heading_color }};
    font-size: {{ section.settings.font_size_hero | append: 'em' }};
  }
  .para-hero-{{ section.id}} {
    color: {{ section.settings.hero_text_color }}; 
    font-size: {{ section.settings.font_size_para | append: 'em' }};
    font-weight:400;
}

.background-button-{{ section.id }}
{
  max-width:100%;
  dislay:flex; 
  justify-content:center;
  z-index:2;
  opacity: 0.5;
}

  
  .hero_button_link,
  .hero_button_label, 
  .buttons-container,
  .hero-button-{{ section.id }} {
    z-index: 2;
    border: dotted dashed solid double;
    color: {{ section.settings.hero_button_color }};
    text-align: {{ block.settings.button_alignment }};
    font-size: {{ section.settings.font_size_button | append: 'em' }};
    opacity: 0.5;
  }
  .hero-button-{{ section.id }}:hover {
  opacity: 1.0;
}

  h1, h2, h3 {
    text-transform: uppercase; 
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
    
  }
{% endstyle %}
{% if section.settings.hero_image != blank %}
  <div class="hero_image_container-{{ section.id }}" style="text-align: {{ section.settings.hero_text_alignment }};"> 
    <img src="{{ section.settings.hero_image | img_url: '1920x1080'}}" alt="hero-image" class="hero-image">
    
   
    {% if section.settings.show_background %}
      <div class="text-container-background-{{ section.id }}" style="background-color: {{ section.settings.hero_background_color }};">    
      {% else %}
      <div class="text-container-{{ section.id }}">
    {% endif %}
    
      {% for block in section.blocks %}
        {% if block.type == 'text' %}
          <h2 class="heading-hero-{{ section.id }}">{{ block.settings.hero_title }}</h2>
        {% elsif block.type == 'rich_text' %}
          <p class="para-hero-{{ section.id }}">{{ block.settings.hero_description }}</p>
        {% endif %}
      {% endfor %}

      <div class="buttons-container">
        {% for block in section.blocks %}
          {% if block.type == 'button' %}
            <div class="hero-button-{{ section.id }}" style="text-align: {{ block.settings.button_alignment }};">
              <a href="{{ block.settings.hero_button_link }}">
                {{ block.settings.hero_button_label }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div> <!-- Close buttons-container -->

    </div> <!-- Close text-container, whether with background or not -->
  </div> <!-- Close hero_image_container -->
{% endif %}


{% schema %}
  {
    "name": "Hero section",
    "tag": "header",
    "class": "hero-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "hero_text_alignment",
        "label": "Text Alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ] 
      },
      {
          "type": "color",
          "id": "hero_text_color",
          "label": "Paragraph text",
          "default": "#555759"
        },
        {
          "type": "color",
          "id": "hero_heading_color",
          "label": "Heading text",
          "default": "#2d3032"
        },
        {
          "type": "color",
          "id": "hero_button_color",
          "label": "Button color",
          "default": "#C8A2C8"
        },
        {
        "type": "range",
        "id": "image_size",
          "min": 10,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "image size",
          "default": 100
        },
        {
  "type": "checkbox",
  "id": "show_background",
  "label": "Show background",
  "default": true
},
{
          "type": "color",
          "id": "hero_background_color",
          "label": "Button color",
          "default": "#C8A2C8"
        },
      {
        "type": "select",
"id": "desktop_position",
"options": [
  {
    "value": "top-left",
    "label": "Top Left"
  },
  {
    "value": "top-center",
    "label": "Top Center"
  },
  {
    "value": "top-right",
    "label": "Top Right"
  },
  {
    "value": "middle-left",
    "label": "Middle Left"
  },
  {
    "value": "middle-center",
    "label": "Middle Center"
  },
  {
    "value": "middle-right",
    "label": "Middle Right"
  },
  {
    "value": "bottom-left",
    "label": "Bottom Left"
  },
  {
    "value": "bottom-center",
    "label": "Bottom Center"
  },
  {
    "value": "bottom-right",
    "label": "Bottom Right"
  }
],
"default": "middle-center",
"label": "Content Position"
    },
       {
          "type": "range",
          "id": "font_size_hero",
          "min": 0.2,
          "max": 3,
          "step": 0.2,
          "unit": "em",
          "label": "Font size heading",
          "default": 1
        },
        {
        "type": "range",
        "id": "font_size_para",
          "min": 0.2,
          "max": 3,
          "step": 0.2,
          "unit": "em",
          "label": "Font size paragraph",
          "default": 0.2
        },
        {
        "type": "range",
        "id": "font_size_button",
          "min": 0.2,
          "max": 2,
          "step": 0.2,
          "unit": "em",
          "label": "Font size button",
          "default": 0.2
        }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "select",
            "id": "button_alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          },
          {
            "type": "text",
            "id": "hero_button_label",
            "label": "Button Label",
            "default": "Click Here"
          },
          {
            "type": "url",
            "id": "hero_button_link",
            "label": "Button Link",
            "default": "/collections/all"
          }
        ]
      },
      {
        "type": "text",
        "name": "Hero title",
        "settings": [
          {
            "type": "text",
            "id": "hero_title",
            "label": "Heading",
            "default": "Image banner"
          }
        ]
      },
      {
        "type": "rich_text",
        "name": "Hero description",
        "settings": [
          {
            "type": "text",
            "id": "hero_description",
            "label": "Description",
            "default": "Give customers details about the banner image(s) or content on the template."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "Image"
      }
    ]
  }
  {% endschema %}