<footer class="footer">
  <div class="width">
    <div class="footer-top">
      {% for block in section.blocks %}
        {% if block.type == 'navigation' %}
          <div class="footer-column footer-column--nav">
            <h2>{{ block.settings.menu_footer.title }}</h2>
            {% for link in block.settings.menu_footer.links %}
              <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </div>
        {% elsif block.type == 'richtext' %}
          <div class="footer-column footer-column--text">
            <h2>{{ block.settings.title_footer }}</h2>
            {{ block.settings.text_content_footer }}
          </div>
        {% elsif block.type == 'Newsletter' %}
          <div class="footer-column footer-column--newsletter">
            <h2>{{ block.settings.newsletter_title }}</h2>
            {{ block.settings.newsletter_description }}
            {% form 'customer', id: 'footer-newsletter' %}
              {% if form.posted_successfully? %}
                <p> You've been subscribed!</p>
              {% endif %}

              {% if form.errors %}
                <p>{{ form.errors.messages.email }}</p>
              {% endif %}

              <input type="hidden"  name="contact [tags]" value="newsletter">
              <input name="contact[email]" type="email" placeholder="Email address">
              <button type="submit">Subscribe</button>
            {% endform %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="footer-bottom">
      <p class="footer-copyright">{{ section.settings.copyright }}</p>

      <ul class="footer-cards">
        <li>
          {% render 'master-card' %}</li>
        <li>
          {% render 'paypal' %}</li>
        <li>
          {% render 'visa' %}</li>
        <li>
          {% render 'maestro' %}</li>
      </ul>
    </div>
  </div>
  
</footer>

{% style %}

  .footer-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @media (min-width: 760px) {
    .footer-top {
      flex-direction: row;
      row-gap: 60px;
      column-gap: 40px;
      justify-content: space-between;
    }
  }

  @media (min-width: 1040px) {
    .footer-column--text {
      width: auto;
      flex-direction: row;
      row-gap: 60px;
      column-gap: 40px;
      justify-content: space-between;
    }
    .footer-column--text,
    .footer-column--newsletter {
      max-width: 320px;
    }
  }

  .width {
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
    font size: 14px;
  }
  .footer {
    padding: 60px 0;
    background-color: {{ settings.footer-background-color }}
  }


  .footer-column li + li {
    margin-top: 10px;
  }
  .footer-column h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .footer-column a {
    transition: 0.5s color;
  }
  .footer-column a:hover {
    color: #606060;
  }
  .footer-column.footer-column--newsletter input .footer-column.footer-column--newsletter button {
    line-height: 50px;
    appearance: none;
    outline: none;


  }

  .footer-column.footer-column--newsletter input {

    display: block;
    width: 100%;
    border: 1px solid #606060;
    padding: 0 16px;
    background-color: #E0E0E0;

  }
  .footer-column.footer-column--newsletter button {
    appearance: none;
    display: inline-block;
    background: #606060;
    color: #E0E0E0;
    padding: 0 32px;
    border: 1px solid #616161;
    margin-top: 10px;
    transition: 0.2s
    , color
    , 0.2s background-color
    , 0.2s border-color;
  }

  .footer-column.footer-column--newsletter button:hover {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    cursor: pointer;
    color: #606060;
  }

  .footer-bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }

  .footer-copyright {
    opacity: 40%;
  }

  .footer-cards {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    /* padding: 200px; */
  }
{% endstyle %}


{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "id": "copyright",
        "label": "copyright text",
        "type": "text",
        "default": "© 2023 - BKLN / Powered by Shopify"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "navigation column",
        "type": "navigation",
        "settings": [
          {
            "type": "link_list",
            "id": "menu_footer",
            "label": "Navigation menu"
          }
        ]
      }, {
        "name": "Text Area",
        "type": "richtext",
        "settings": [
          {
            "type": "text",
            "id": "title_footer",
            "label": "Title",
            "default": "Our mission"
          }, {
            "type": "text",
            "id": "text_content_footer",
            "label": "Content",
            "default": "Striving for minimal environmental impact, we continuously work on reducing waste and conserving resources. Our packaging is recyclable, and we encourage our customers to join us in this green initiative."
          }
        ]
      }, {
        "name": "Newsletter",
        "type": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "newsletter_title",
            "label": "Newsletter Title",
            "default": "Stay Updated"
          }, {
            "type": "text",
            "id": "newsletter_description",
            "label": "Newsletter Description",
            "default": "Subscribe to receive the latest updates, special offers, and exclusive news."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer custom",
        "category": "Image"
      }
    ]
  }
{% endschema %}