{{ 'product.css' | asset_url | stylesheet_tag }}

{{ product.featured_image | image_url: width: 200 | image_tag }}
<H3>{{ product.title }}</H3>
<p>
  {{ product.price | money }}</p>
<div>
  {{ product.description }}
</div>
{% form 'product'
  , product %}
  <select name="id">
    {% for variant in product.variants %}
      <option
        value="{{ variant.id }}"
        {% if variant == product.selected_or_first_available_variant %}
        selected="selected"
        {% endif %}>
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {% endfor %}
  </select>

  <input type="submit" value="Add to cart">
  <input
    type="text"
    name="quantity"
    min="1"
    value="1">
  <div class="buy-now-button">
    {{ form | payment_button }}
  </div>

{% endform %}