{{ 'product.css' | asset_url | stylesheet_tag }}

{% for image in product.images %}
  {{ product.featured_image | image_url: width: 400 | image_tag: alt: 'Product Image', loading: 'eager' }}

{% endfor %}
<H3>{{ product.title }}</H3>
<p>
  {{ product.price | money }}</p>
<div>
  {{ product.description }}
</div>
{% form 'product'
  , product %}
  <div class="product-option">
    <label for="product-select">
      Variant
    </label>
    <select
      class="product-select"
      id="product-select"
      name="id">
      {% for variant in product.variants %}
        <option
          value="{{ variant.id }}"
          {% if variant == product.selected_or_first_available_variant %}
          selected="selected"
          {% endif %}>
          {{ variant.title }} - {{ variant.price | money }}
        </option>
        <input type="submit" value="Add to cart">
        {{ form | payment_button }}
      {% endfor %}
    </select>
  </div>

  <div class="product-option">
    <label for="quantity">
      Quantity
    </label>
    <input
      id="quantity"
      type="text"
      name="quantity"
      value="1"
      min="1"
      class="product-quantity">
  </div>


  <input
    type="submit"
    class="product-add"
    value="Add to cart">
  <input
    type="text"
    name="quantity"
    min="1"
    value="1">
  <div class="buy-now-button">
    {{ form | payment_button }}
  </div>

{% endform %}